{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="offset-1 col-10 list-div">
    	<h1>Dashboard</h1>
        <div class="container dashboard">
            <div class="col-4 dashboard-box" id="dashboard-lastdays">
                <h4>Finalizadas nos últimos 30 dias</h4>
                <span>{{tasksrecently}}</span>
            </div>
            <div class="col-4 dashboard-box" id="dashboard-done">
                <h4>Tarefas finalizadas</h4>
                <span>{{tasksdone}}</span>
            </div>
            <div class="col-4 dashboard-box" id="dashboard-doing">
                <h4>Tarefas para fazer</h4>
                <span>{{tasksdoing}}</span>
            </div>
        </div>

        <div class="container">
    		<p>Welcome to your dashboard. You can <a href="{% url 'edit' %}">edit your profile</a> or <a href="{% url 'password_change' %}">change your password</a>.</p>	
    	</div>
    </div>
{% endblock %}